{% extends 'base.html' %}

{% block titulo %}
About
{% endblock %}

{% block contenido %}
<h1>Bienvenidos, esto es el about</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Santiago Isla</h5>
          <p class="card-text">Probanding.</p>
        </div>  
        <div class="card-footer">
          <small class="text-muted"></small>
        </div> 
      </div> 
    </div> 
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sara Buch</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tomás Dulsan</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
  </div>

{% endblock %}