{% extends 'base.html' %}

{% block titulo %}
About
{% endblock %}

{% block contenido %}
<div class="card text-center">
  <div class="card-header">
  
  </div>
  <div class="card-body">
    <h3 class="card-title">¿Quienes somos?</h3>
    <p class="card-text">En esta sección podes conocer un poco de información acerca de la vida de los integrantes del equipo.</p>
    
  
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left:7rem; margin-right:7rem">
    <div class="col">
      <div class="card h-100">
        {% load static %}
        <!--<img src="{% static '/static/persona-e1533759195177-800x400.jpeg' %}" class="card-img-top" alt="My image">-->
        <!--<img src="../media/persona-e1533759195177-800x400.jpeg" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Santiago Isla</h5>
          <p class="card-text">Mi nombre es Santiago.Tengo 20 años y soy de Ushuaia.Estudio Comunicación Digital en la UADE. Aspiro a desarrollarme profesionalmente en el entorno de la comunicación y la tecnología.</p>
        </div>  
        <div class="card-footer">
          <small class="text-muted"></small>
        </div> 
      </div> 
    </div> 
    <div class="col">
      <div class="card h-100">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">Sara Buch</h5>
          <p class="card-text">
            Soy Sara Buch, tengo 30 años y soy de CABA. Estudié Letras en la UBA y me especialicé en Neurolingüística. Hoy en día trabajo como analista de NLP. Tengo una gatita que se llama Papa.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">Tomás Dulsan</h5>
          <p class="card-text">Soy Tomás Dulsan.Tengo 23 años,soy de Cabildo,Bahía Blanca.Soy Tripulante De Cabina. Actualmente,trabajo en el rubro informático,instalando Fibra Óptica en una pyme familiar.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
  </div>

  

{% endblock %}

