<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar " style="background: rgb(241, 241, 241);">
    <!--<nav class="navbar navbar-dark bg-dark"> -->
        <a class="navbar-brand" href="/"><p style="color:rgb(51, 51, 51)">Home</p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/about/"><p style="color:rgb(51, 51, 51)">Sobre nosotros</p><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/mascotas/productos/"><p style="color:rgb(51, 51, 51)">Productos</p><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mascotas/servicios/"><p style="color:rgb(51, 51, 51)">Servicios</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mascotas/pacientes/"><p style="color:rgb(51, 51, 51)">Pacientes</p></a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/mascotas/crear-paciente/"><p style="color:rgb(51, 51, 51)">¡Sumá a tu mascota!</p></a>
                </li>
                <li class="nav-item" style="margin-right: 1rem; margin-left: 17rem; margin-top: 1rem;">
                    <h6>{{request.user.username}}</h6>
                </li>

                <li class="nav-item">
                    <img src="{{request.user.user_profile.image.url}}" style="height: 2rem;">
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout/"><p style="color:rgb(51, 51, 51)">Logout</p></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login/"><p style="color:rgb(51, 51, 51)">Login</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register/"><p style="color:rgb(51, 51, 51)">Registrarse</p></a>
                </li>
                {% endif %}
            </ul>
            </form>
                <form class="form-inline my-2 my-lg-0" action = "/mascotas/busqueda/" method = "GET">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search" name = 'search'>
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
        </div>
    
    </nav>

    
    
    
    {% block contenido %}
    {% endblock %}

</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

</html>