{% extends 'base.html' %}

{% block titulo %}
    Buscar productos
{% endblock %}

{% block contenido %}
<div class="card text-center">
    <div class="card-header">
    
    </div>
    <div class="card-body">
      <h3 class="card-title">Estos son los productos que encontramos</h3>
      <p class="card-text"></p>
      
    
  </div>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for product in productos %}

    <div class="card" style="width: 18rem;">
        {% if product.image %}
        <img src="{{product.image.url}}" class="card-img-top" >
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <!--<p class="card-text">{{product.description}}</p>
            <p class="card-text">{{product.price}}</p> --> 
            <a href="/mascotas/detail-product/{{product.id}}/" class="btn btn-primary">Más información</a>
        </div>
    </div>

    {% endfor %}
    {% for service in servicios %}

    <div class="card" style="width: 18rem;">
        {% if service.image %}
        <img src="{{service.image.url}}" class="card-img-top" >
        {% endif %}
        
        <div class="card-body">
            <h5 class="card-title">{{service.name}}</h5>
           <!--  <p class="card-text">{{service.description}}</p>
            <p class="card-text">{{service.price}}</p> -->
            <a href="/mascotas/detail-service/{{service.id}}/" class="btn btn-primary">Más información</a>
        </div>
    </div>

    {% endfor %}
    {% for patient in pacientes %}

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
         <div class="card-body">
             <h5 class="card-title">{{patient.name}}</h5>
             <p class="card-text"> Especie: {{patient.species}}</p>
             <p class="card-text"> Edad: {{patient.age}} años</p>
             <p class="card-text"> Dueño: {{patient.owner}}</p>
      <!-- <a href="#" class="btn btn-primary">Comprar!</a> -->
         </div>
     </div>

    {% endfor %}
</div>

{% endblock %}