{% extends 'base.html' %}

{% block titulo %}
    Crear paciente
{% endblock %}

{% block contenido %}
<div class="card text-center">
    <div class="card-header">
    
    </div>
    <div class="card-body">
      <h3 class="card-title">¡Sumá a tu mascota y conseguí increibles descuentos!</h3>
      <p class="card-text"></p>
      
    
  </div>
{% if form %}

    
    <form action="" method="POST" >
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar!">
    </form>
{% elif new_patient %}

    <div class="card" style="width: 18rem;">
        <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
        <div class="card-body">
            
            <h5 class="card-title">{{new_patient.name}}</h5>
            <p class="card-text">{{new_patient.species}}</p>
            <p class="card-text">{{new_patient.age}}</p>
            <p class="card-text">{{new_patient.owner}}</p>
        </div>
    </div>

{% endif %}

{% endblock %}