{% extends 'base.html' %}

{% block titulo %}
    Servicios
{% endblock %}

{% block contenido %}
<div class="card text-center">
    <div class="card-header">
    
    </div>
    <div class="card-body">
      <h3 class="card-title">Nuestros servicios</h3>
      <p class="card-text"></p>
      
    
  </div>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem; margin-right:7rem">
    {% for service in servicios %}

    <div class="card" style="width: 18rem;">
        {% if service.image %}
        <img src="{{service.image.url}}" class="card-img-top" >
        {% endif %}
        
        <div class="card-body">
            <h5 class="card-title">{{service.name}}</h5>
           <!--  <p class="card-text">{{service.description}}</p>
            <p class="card-text">{{service.price}}</p> -->
            <a href="/mascotas/detail-service/{{service.id}}/" class="btn btn-primary">Más información</a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}